 
 /*  Animation
     -. Keyframes    
     -. Animation Name
     -. Animation Duration 
     -. Direction
     -. Delay 
     -. Fill Mode
     -. PlayS tate
     -. Shorthand */
 
 
 
 
 
 body {
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
 }

 div {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100px;
     height: 100px;
     background-color:#eee;
     border-radius: 50%;
     border:5px solid red;
     border-left-color: transparent;
     margin-left: -50px;
     margin-top: -50px;
     /* animation-name: coloring;
        animation-duration: 5s;
        animation-play-state: running; stop or runnig the animation */
     /* animation-fill-mode: both; */
     /* animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-delay: 2;
    /*   animation-direction: reverse; */
    animation: coloring 5s linear 2s infinite reverse ;

 }

 div:hover {
     animation-play-state: paused;
 }
 @keyframes coloring {

    /*can man precntag or keyword used*/
     0% {
         background-color:red;
     }
     50%{
         background-color: blue;
     }
     100%{
         background-color: black;
     }

     /* 0%{
       transform: rotate(0deg);
    }
   
   100%{
    transform: rotate(360deg);
   } */
 }