div {
    width: 400px;
    height: 200px;
    background-image: linear-gradient(63deg,rgb(220 207 207 / 50%) 30%,maroon 30%,#00000057 60% );
    padding: 40px;
    margin: 20px auto; 
    background-color: #eee;
     position: relative;
     font-size: 30px;
     padding-top: 60px;
}

div:before {
    content: '';
    width: 100%;
    left: 0;
    top: -5px;
    background-color: red;
    position: absolute;
    height: 5PX;
    background-image: linear-gradient(to right,red 20%,green 20%,green 40%,black 40%,black 100%)
    ;
}
 div:hover {
     transition: 00.5s;
     filter:grayscale(100%);
 }