body {

    background-image: url(../image/nice.jpg);
    background-size: cover;
    margin: 0;
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul li {
    position: relative;
    width: 150px;
    height: 40px;
    background-color: rgb(212, 40, 40);
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    opacity: 0.8;
    float: left;
    

}

 
ul li a{
   
    color:white;
    text-decoration: none;
    display: block;
    
}


ul li:hover a {
    background-color: red;
}

ul ul {
    margin: 0;
    padding: 0;
    width: 150px;
    display: none;
}
 ul li:hover > ul  {
     display: block;

 }

 ul ul ul {
     position: absolute;
     margin-left: 150px;
     top: 0;
 }