
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
    background-color: #ddd;
    padding-left: 30px;
    margin: 10px 0;
}

.item1:before {
    content: '';
    position: absolute;
    top:0 ; left: 0;
    height: 20px;
    width: 20px;
    background-color: #78b13f;
    border-radius: 50%;

}

.item1:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 7px;
    height: 5px;
    width: 3px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);

}

.item2:before {
    position: absolute;
    content: '';
    top:0;left:0;
    height: 20px;
    width: 20px;
    background-color: #78b13f;
    border-radius: 50%;
}
.item2:after {
    position: absolute;
    content: 'X';
    color: white;
    TOP:4px;
     left: 6px;
    font-size: 10px;


}
.item3:before {
    position: absolute;
    content: '';
    top:0;left:0;
    height: 20px;
    width: 20px;
    background-color: #d46090;
    border-radius: 50%;
}

.item3:after {
    position: absolute;
    content: '';
    left: 5.5px;
    top:5px;
    height: 3px;
    width: 3px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(140deg);
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(-145deg);

}