
p {
    background-color: #EEE;
    padding: 10px;
}

div {
    background-color: red;
    color: white;
    height: 40px;
    position: sticky;
    top: 0px;
}

body {
    min-height:  15000px;
}
     