

.parent .child .title,
p {
    color: red;
}

.parent span {
    color: blue;
}
/* p {
    color:red;
} */

div .title {
    color: green;
}
.one {
    max-width: 400px;
    background-color: red;
    color: white;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    max-height: 40px;
    overflow-wrap: break-word;
}