body {
    margin: 0;
    box-sizing: border-box;
}

div {
    position: relative;
    margin: 50px auto;
    display: block;
    background-color: #ccc;
    padding:2rem;
    font-family:sans-serif;
    font-size: 3rem;
    margin-left: 20px;
}





.assign-2-shape-1:before {
    border-color: transparent transparent transparent red;
   
}

.assign-2-shape-3:before {
    border-color: transparent transparent transparent blue;

}

.assign-2-shape-2 {
    visibility: hidden;
}
div::before {
    position: absolute;
    content: '';
    width: 0px;
    left:7PX;
    top: 20%;
    height: 50%;
    border-width: 5PX;
    
    border-style: solid;
    transform: translate(25%);
}