body {
    margin: 50px auto;
    box-sizing: border-box;

}

div {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    background-color:slategray;
    display: inline-block;
    margin-left: 10%;
    
}

.assign-2-shape-1 {
    
  background-image: url('../image/css-assignment-5-8.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 80%;
  
}

.assign-2-shape-2 {
        background-image: url('../image/css-assignment-5-8.png');
        background-repeat: repeat-y;
        background-position: right;
        background-size: 80%;
}
.assign-2-shape-3 {
   background-image: url('../image/css-assignment-5-8.png');
   background-repeat: repeat-x;
   background-position: bottom;
   background-size: 80%;
}
.assign-2-shape-4 {
    background-image: url('../image/css-assignment-5-8.png');
    background-repeat:no-repeat;
    background-position: right bottom;

}
.font_size {
    font-size: 2 rem;
    color: white;
    padding-top: 20px;
}