 * {

    box-sizing: border-box;
    margin: 0;
 }

 div {
      margin: 400px auto;
     width: 220px;
     height: 50px;
     background-color: gray;
     border-bottom: 5px solid black;
     position: relative;

 }

 div::before {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    top: -220px;
    border: 110px;
    border-style: solid;
    border-color: transparent gray gray gray;
}

div::after {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    left: 35px;
    top: -297px;
    background-color: black;
    transform: rotate(45deg);

}